<!--头部css位置s-->
{include file='public:header-css'/}
<!--头部css位置e-->
<script src="__STATIC__/plugin/layui/layui.js"></script>
<body>
<!--头部导航位置s-->
<header class="header">
    <a class="back iconfont iconback"></a>
    <div class="title">商品列表</div>
    <a id="popup" class="iconfont iconmenu"></a>
</header>
<!--头部导航位置e-->
<!--内容区s-->
<div class="goodslist">
    <div class="public_header">
        <a href="{:url('Goods/goods_list',['order'=>'all','keyword'=>$keyword,'type'=>$type,'cat_id'=>$cat_id])}" {if $order == 'all'}class="act"{/if}>综合</a>
        <a href="{:url('Goods/goods_list',['order'=>'sales_sum','cat_id'=>$cat_id,'keyword'=>$keyword,'type'=>$type,'sort'=>$sort=='desc'?'asc':'desc'])}">
            <span {if $order == 'sales_sum'}class="act"{/if}>销量</span>
            <span class="right">
                <span class="iconfont iconjiantou-up {if $order == 'sales_sum' && $sort == 'asc'}act{/if}"></span>
                <span class="iconfont iconjiantou-down {if $order == 'sales_sum' && $sort == 'desc'}act{/if}"></span>
            </span>
        </a>
        <a href="{:url('Goods/goods_list',['order'=>'goods_price','cat_id'=>$cat_id,'type'=>$type,'keyword'=>$keyword,'sort'=>$sort=='desc'?'asc':'desc'])}">
            <span {if $order == 'goods_price'}class="act"{/if}>价格</span>
            <span class="right">
                <span class="iconfont iconjiantou-up {if $order == 'goods_price' && $sort == 'asc'}act{/if}"></span>
                <span class="iconfont iconjiantou-down {if $order == 'goods_price' && $sort == 'desc'}act{/if}"></span>
            </span>
        </a>
        <a onclick="view(this)">
            <span class="iconfont iconliebiao"></span>
        </a>
    </div>
    <div class="public-list mto5">
        <div class="public-list-list"></div>
    </div>
</div>
<!--内容区e-->
</body>
<script>
    $(function () {
        var data="&keyword={$keyword}"+"&order={$order}"+"&sort={$sort}"+"&cat_id={$cat_id}";
        public_ajax('.public-list-list',"{:url('Goods/ajax_goods')}",data,'暂无相关商品');
    });
    function view(obj) {
        var span=$(obj).find('.iconfont');
        if (span.hasClass('iconliebiao')){
            span.removeClass('iconliebiao').addClass('iconfenlei');
        }else {
            span.removeClass('iconfenlei').addClass('iconliebiao');
        }
        $(obj).addClass('act');
        var str=$('.layui-flow-more').is(':hidden');
        if (!str){
            $('.public-list-list').toggleClass('column');
        }
    }
</script>
</html>