<!--头部css位置s-->
{include file='public:header-css'/}
<!--头部css位置e-->
<body class="bg-fff">
<script src="__STATIC__/plugin/layui/layui.js"></script>
<!--头部导航位置s-->
<header class="header">
  <a class="back">关闭</a>
  <a class="iconfont iconfenxiang3"></a>
</header>
<!--头部导航位置e-->
<!--内容s-->
<div class="user-circle">
  <div class="user-circle-top">
    <div class="top-item">
      <img src="{$user_info.head_pic}">
      <h4>{$user_info.realname}</h4>
    </div>
    <img class="bg-img" src="{$user_info.head_pic}">
    <div class="sanjiao"></div>
  </div>
  <div class="line"></div>
  <div class="circle" style="padding: 0 10px">
    <div class="circle-list"></div>
  </div>
</div>
<!--内容e-->
</body>
{load href="__MOBILE__/css/zoomify.min.css"/}
{load href="__MOBILE__/js/zoomify.min.js"/}
<script>
  var flag=true;
    $(function () {
      $('.images img').zoomify();
      $(document).on('click','.icondel',function () {
        var id=$(this).attr('data-id');
        if (!flag)return false;
        confirmmsg('确定删除?',function () {
          var url="{:url('Circle/circle_del')}";
          var data={'id':id};
          flag=false;
          $.ajax({
            url:url,
            type:'post',
            data:data,
            dataType:'json',
            success:function (res) {
              if (res.code===1){
                msg(res.msg);
                $('.list'+id).remove();
              }else{
                msg(res.msg);
              }
              flag=true;
            },error:function () {
              msg('网络错误,请稍后再试!')
            }
          });
        });
      })
      get_more('1');
    });
    function get_more(type) {
      public_ajax('.circle-list',"{:url('Circle/ajax_get_circle')}",'&type='+type+'&user_id='+'{$user_info.user_id}','暂无相关记录');
    }
</script>
</html>