<div class="bottom">
    <a href="{:url('Index/index')}" {if CONTROLLER_NAME == 'Index'}class="active"{/if}>
        <dl>
            <dt>
                <img src="__MOBILE__/img/shouye{if CONTROLLER_NAME == 'Index'}-s{/if}.png">
            </dt>
            <dd>首页</dd>
        </dl>
    </a>
    <a href="{:url('Cart/index')}" {if CONTROLLER_NAME == 'Cart'}class="active"{/if}>
    <dl>
        <dt>
            <img src="__MOBILE__/img/gouwu{if CONTROLLER_NAME == 'Cart'}-s{/if}.png">
        </dt>
        <dd>购物篮</dd>
    </dl>
    </a>
    <a href="{:url('User/index')}" {if CONTROLLER_NAME == 'User'}class="active"{/if}>
        <dl>
            <dt>
                <img src="__MOBILE__/img/wode{if CONTROLLER_NAME == 'User'}-s{/if}.png">
            </dt>
            <dd>我的</dd>
        </dl>
    </a>
</div>