<header>
		<div class="navigation navigation--header row align-center w-full">
			<div class="navigation__inner">
				<a href="/">
					<p style="font-family: Gilroy; font-weight: 900; font-size: 28px; color: rgb(72, 79, 117); margin: 0px;">
						Republic Ta<span style="color: rgb(83, 108, 241);">x</span>
					</p>
				</a>
				<div class="grow-1"></div>
				<!--right menu start-->
				
    			<nav class="row align-self-stretch gap-20 font-14">
                	<a href="{:url('user/center')}" class="link-active">
                		Clients
                	</a>
                	<!--
                	<a href="/stanfordtax-2/team" class="">
                		Team
                	</a>
                	<a href="/stanfordtax-2/branding" class="">
                		Branding
                	</a>
                	<a href="/stanfordtax-2/plans" class="">
                		Plans
                	</a>-->
                	<a class="logout-button" style="cursor: pointer;" href="{:url('user/logout')}">
                		Log out
                	</a>
                	<!--
                	<a class="action-button action-button--secondary" href="https://calendly.com/stanford-tax/intro"
                	target="_blank" rel="noreferrer">
                		Book demo
                	</a>-->
                </nav>
			<!--right menu end-->
			</div>
		</div>
	</header>