<!--头部css位置s-->
{include file='public:header-css'/}
<!--头部css位置e-->
<link rel="stylesheet" href="__MOBILE__/css/form.css">
<style>

</style>
<body>
<!--内容区s-->
<form id="public-form" class="login" style="padding-top: 0" method="post">
    <div class="logo">
        <img src="{$tpshop_config.basic_wap_login_logo}">
    </div>
    <div class="form-item">
        <div class="form-input">
            <div class="tit">手机号码</div>
            <input type="text" name="mobile" placeholder="请输入手机号码">
        </div>
        <div class="form-input code">
            <div class="tit">验证码</div>
            <input type="text" maxlength="6" name="code" placeholder="请输入验证码">
            <button class="verify-code" type="button">获取验证码</button>
        </div>
        <div class="form-input">
            <div class="tit">新密码</div>
            <input type="password" id="password" name="password" placeholder="请输入新密码">
        </div>
        <div class="form-input">
            <div class="tit">确认密码</div>
            <input type="password" name="conpassword" placeholder="请输入确认密码">
        </div>
        <div class="btn-list">
            {:token_field()}
            <button id="submit" class="bg-theme" data-style="expand-left" type="button">确定</button>
            <div class="btn-list-bottom">
                <a href="{:url('User/login')}">返回登录</a>
            </div>
        </div>
    </div>
</form>
<!--内容区e-->
</body>
<script>
    $(function () {
        $('.verify-code').click(function () {
            var mobile=$('[name=mobile]').val();
            send_code(this,mobile,'forget',"{$tpshop_config.sms_sms_time_out|default=60}");
        });
        public_validate('#public-form');
        $('#submit').click(function () {
            if (!$('#public-form').valid()){
                return false;
            }
            var url="{:url('User/forget_pwd')}";
            var data=$('#public-form').serialize();
            public_submit(url,data);
        });
    })
</script>
</html>