<!--头部css位置s-->
{include file='public:header-css'/}
<!--头部css位置e-->
<link rel="stylesheet" href="__MOBILE__/css/form.css">
<body>
<!--头部导航位置s-->
<header class="header">
	<a class="back iconfont iconback"></a>
	<div class="title">账户充值</div>
	<a href="{:url('User/recharge_list')}">充值记录</a>
</header>
<!--头部导航位置e-->
<!--内容区s-->
<form id="public-form" onsubmit="return false;" method="post">
	<div class="form-item">
		<div class="form-input">
			<span class="tit">手机号码</span>
			<div class="hint">{$user.mobile}</div>
		</div>
		<div class="form-input">
			<span class="tit">我的余额</span>
			<div class="hint">{$user.user_money}</div>
		</div>
		<div class="form-input">
			<span class="tit">充值金额</span>
			<input type="text" name="money" placeholder="请输入充值金额">
		</div>
		<div class="form-input">
			<span class="tit">支付方式</span>
			<div class="pay-code">
				{volist name="$payment" id="pay"}
				<div class="iconfont {if $i==1}icondanxuanact{else/}icondanxuan{/if} item" data-code="{$pay.code}"> {$pay.name}</div>
				{/volist}
			</div>
		</div>
	</div>
	<div class="btn-list">
		<input type="hidden" name="pay_code" value="{$payment[0][code]}">
		<button id="submit" class="bg-theme mto10" data-style="expand-left" type="button">提交</button>
	</div>
	<div class="public-notice">
		<h5>温馨提示:</h5>
		<p>{if $recharge.cz_min>0}充值金额最少为{$recharge.cz_min}元起{else/}充值金额无限制{/if}</p>
		{if $recharge.cz_xishu>0}<p>充值金额为{$recharge.cz_xishu}元的整数倍</p>{/if}
	</div>
</form>
<!--内容区e-->
</body>
<script>
    $(function () {
    	$('.pay-code .item').on('click',function () {
			if($(this).hasClass('icondanxuanact'))return;
			$('.pay-code .item').attr('class','iconfont icondanxuan item');
			$(this).addClass('icondanxuanact').removeClass('icondanxuan');
			var code=$(this).attr('data-code');
			$('[name=pay_code]').val(code);
		});
        public_validate('#public-form');
        $('#submit').click(function () {
            if (!$('#public-form').valid()){
                return false;
            }
            var url="{:url('User/recharge')}";
            var data=$('#public-form').serialize();
            public_submit(url,data);
        });
    })
</script>
</html>