<!--头部css位置s-->
{include file='public:header-css'/}
<!--头部css位置e-->
<script src="__STATIC__/plugin/layui/layui.js"></script>
<style type="text/css">
.order .order-list .order-info .order-info-item {
    width: 100%;
    display: flex;
    align-items: center;
}
</style>
<body>
<!--头部导航位置s-->
<header class="header bg-fff">
    <a class="back iconfont iconback"></a>
    <div class="title">提现记录</div>
    <a id="popup" class="iconfont iconmenu"></a>
</header>
<!--头部导航位置e-->
<!--内容区s-->
<div class="pto45 order">
    <div id="demo"></div>
</div>
<!--内容区e-->
</body>
<script>
    $(function () {
        public_ajax('#demo',"{:url('User/ajax_with')}",'','暂无相关记录');
    })
</script>
</html>